:root {
  --black: #000000;
  --grey: #333333;
  --white: #ffffff;
  --light-grey: #bfbfbf;
  --lighter-grey: #efefef;
  --light-blue: #72c3dc;
  --blue: #2b8ead;
  --grey-blue: #6f98a8;
  --dark-grey-blue: #2f454e;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 10px;
}

ul {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: #000;
  background-color: var(--lighter-grey);
  border-left: 5px solid #000;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-top: 4px;
}

.btn-container {
  text-align: center;
}

button {
  border-radius: 5px;
  background-color: var(--light-blue);
  color: var(--white);
  text-transform: uppercase;
  border: none;
  height: 40px;
  width: 25%;
  margin-bottom: 15px;
  box-shadow: 0 5px var(--blue);
}

h1 {
  background-color: var(--grey);
  color: var(--white);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  height: 35px;
  line-height: 35px;
  margin-top: 0;
}

.footer {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.order-1 {
  order: 1;
}

li:nth-of-type(1) {
  border-color: var(--grey-blue);
}

.order-2 {
  order: 2;
}

li:nth-of-type(2) {
  border-color: var(--blue);
}

.order-3 {
  order: 3;
}

li:nth-of-type(3) {
  border-color: var(--dark-grey-blue);
}

.order-4 {
  order: 4;
}

li:nth-of-type(4) {
  border-color: var(--blue);
}

.order-5 {
  order: 5;
}

li:nth-of-type(5) {
  border-color: var(--dark-grey-blue);
}

.order-6 {
  order: 6;
}

li:nth-of-type(6) {
  border-color: var(--light-grey);
}

.order-7 {
  order: 7;
}

li:nth-of-type(7) {
  border-color: var(--light-grey);
}

.order-8 {
  order: 8;
}

li:nth-of-type(8) {
  border-color: var(--grey-blue);
}

.order-9 {
  order: 9;
}

li:nth-of-type(9) {
  border-color: var(--dark-grey-blue);
}

@media only screen and (min-width: 960px) {
  .container {
    background-color: var(--lighter-grey);
    display: grid;
    grid-template-columns: 1fr 250px;
    border-top: 5px solid var(--light-grey);
  }
  h1 {
    background-color: transparent;
    color: var(--black);
    text-align: center;
    margin-bottom: 0;
  }
  .btn-container {
    order: 2;
    padding-top: 25px;
  }
  button {
    width: 80%;
  }
  ul {
    order: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px;
  }
  .footer {
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  li {
    height: 100%;
    margin-top: 0;
    line-height: 150px;
    border-color: none;
    color: var(--white);
    font-size: 72px;
  }

  .order-1 {
    order: 1;
  }

  li:nth-of-type(1) {
    background-color: var(--grey-blue);
  }

  .order-2 {
    order: 2;
  }

  li:nth-of-type(2) {
    background-color: var(--blue);
  }

  .order-3 {
    order: 3;
  }

  li:nth-of-type(3) {
    background-color: var(--dark-grey-blue);
  }

  .order-4 {
    order: 4;
  }

  li:nth-of-type(4) {
    background-color: var(--blue);
  }

  .order-5 {
    order: 5;
  }

  li:nth-of-type(5) {
    background-color: var(--dark-grey-blue);
  }

  .order-6 {
    order: 6;
  }

  li:nth-of-type(6) {
    background-color: var(--light-grey);
  }

  .order-7 {
    order: 7;
  }

  li:nth-of-type(7) {
    background-color: var(--light-grey);
  }

  .order-8 {
    order: 8;
  }

  li:nth-of-type(8) {
    background-color: var(--grey-blue);
  }

  .order-9 {
    order: 9;
  }

  li:nth-of-type(9) {
    background-color: var(--dark-grey-blue);
  }
}
